/* ttps://www.geeksforgeeks.org/login-and-registration-project-using-flask-and-mysql/ */

.header {
    padding: 5px 120px;
    width: 150px;
    height: 70px;
    background-color: #ffffff; /* White background */
}

.border {
    padding: 80px 50px;
    width: 400px;
    height: 450px;
    border: 1px solid #236B8E;
    border-radius: 0px;
    background-color: #ffffff; /* White background */
}

.btn {
    padding: 10px 40px;
    background-color: #FF0000; /* Red button */
    color: #ffffff; /* White text */
    font-style: oblique;
    font-weight: bold;
    border-radius: 10px;
}

.textbox {
    padding: 10px 40px;
    background-color: #FF0000; /* Red textbox */
    color: #ffffff; /* White text */
    border-radius: 10px;
}

::placeholder {
    color: #ffffff; /* White placeholder text */
    opacity: 1;
    font-style: oblique;
    font-weight: bold;
}

.word {
    color: #FF0000; /* White text */
    font-style: oblique;
    font-weight: bold;
}

.bottom {
    color: #FF0000; /* Red text */
    font-style: oblique;
    font-weight: bold;
}
